<div hx-trigger="done" hx-get="{{ url_for('download', request_id=download.id)
}}" id="response">
    <h3 role="status" id="pblabel" tabindex="-1" autofocus></h3>

    <div hx-get="{{ url_for('progress', request_id=download.id) }}" hx-trigger="every 600ms" hx-swap="outerHTML"
        hx-target="this">
        <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"
            aria-labelledby="pblabel">
            <div id="pb" class="progress-bar" style="width:0%"></div>
        </div>
    </div>
</div>